.UsefulLinks {
  background-color: #fdcf32;
  height: 200px;
  margin: auto
}

.innerUsefulLinks {
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}


.innerUsefulLinks a {
 margin: auto;
 font-size: 20px;
 padding-top: 20px;
}

.Title {
  font-size: 25px;
  font-weight: 700;
  background-color: #fdcf32;
  padding: 1.4%;
  padding-top: 10px;
} 

