
@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400,500);

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #fafafa;
  color: rgba(0,0,0,0.6);

}
body::before,
body::after {
 content: "";
 display: table;
 clear: both;
}
body * {
 box-sizing: inherit;
 
}

/* Card */

.cardCss{
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.15);


  transition: all 0.25s ease-in;
  border-bottom: 0px !important;
}

 .cardCss:hover {
  transform: translateY(-5px);
  border: none;
  border-bottom: 5px solid #2196fe;
 }

 /* Card*/

 .cards-slider-wrapper {
  position: absolute;
  object-fit: contain;
  display: flex;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
.cards-slider-wrapper .cardCss {
  opacity: 0.7;
  transform: scale(0.8);
  transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
}
/* Image */
.cardPic {
  width: 100%;
  display: block;
 }


/* Tags*/

.tags{
  padding-top: 2rem;
  padding-bottom: 2rem;

  padding-left: 2rem;
  padding-right: 2rem;

}

 /* Travel Tag*/
 .tags p, h1 {
  margin: 0; padding: 0;
 }
  
 .travelTag {
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
 }
 
 /* Title*/

 .title {
  font-family: 'Lora', serif;
  font-weight: normal;
  color: rgba(0,0,0,0.9);
  font-size: 2.25rem;
  margin-top: 0;
 }

/* ReamoreTag*/

.readmeTag {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in; 
}
.readmeTag:hover,
.readmeTag:focus,
.readmeTag:active {
 color: #536dfe;
}






/* Old card design, Do not remove yet!!
.card {
  min-width: 20vw;
  max-width: 60vh;
  min-height: 20vh;

  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border: 1px solid black;
  transition: .6s ease;

  background: white;
  text-align: center;
  
  display: block;
  margin: 0 auto;

}

.card img {
    width: 100%;
    height: auto; 
  
  }
.card .picture {
  border-radius: 4px 4px 0 0;
  margin-bottom: 2vh;
}

.title h1 {
  font-size: 2.6rem;
  color: #303336;
  letter-spacing: 1px;
  margin: 2vh 4vw;
  font-family: "Playfair Display", serif;
}

.card .topSpace {
  width: 20%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}

.card .bottomSpace {
  height: 4vh;
}


.cards-slider-wrapper {
    position: absolute;
    object-fit: contain;
    display: flex;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  }
  .cards-slider-wrapper .card {
    opacity: 0.7;
    transform: scale(0.8);
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  }
  
  .cards-slider-wrapper .card .details {
    opacity: 0;
    transition: opacity 150ms linear; 
  }
  
  .cards-slider.active-slide-0 #card-0 {

    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
  
  .cards-slider.active-slide-0 #card-0 .details {
      opacity: 1;
  }
  
  .cards-slider.active-slide-1 #card-1 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
  
  .cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto; 
  }
  */

  .cards-slider.active-slide-0 #card-0 {

    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
  
  .cards-slider.active-slide-0 #card-0 .details {
      opacity: 1;
  }
  
  .cards-slider.active-slide-1 #card-1 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
  
  .cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto; 
  }
