@import url(https://fonts.googleapis.com/css?family=Lora|Roboto:400, 500);

img{
  float: left;
  width:  100px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.6);
}

/* Card */
.cardCss{
  width: 100%;
  height: 75%;
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);


  transition: all 0.25s ease-in;
  border-bottom: 0px !important;


  padding: 16px;
}

 /* Card*/
.cards-slider-wrapper {
  position: absolute;
  object-fit: contain;
  display: flex;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.cards-slider-wrapper .cardCss {
  opacity: 0.7;
  transform: scale(0.8);
  transition: opacity 300ms linear, border-color 300ms linear,
    background-color 300ms linear,
    transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
/* Image */
.cardPic {
  width: 100%;
  display: block;
}

/* Tags*/

.tags {
  padding-top: 2rem;
  padding-bottom: 2rem;

  padding-left: 2rem;
  padding-right: 2rem;
}

 /* Travel Tag*/
 .tags p, h1 {
  margin: 0;
  padding: 0;
}

.travelTag {
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
}


.cardCss .title {
  font-family: 'Lora', serif;
  font-weight: normal;
  color: rgba(0,0,0,0.9);
  margin-top: 0;
}

/* ReamoreTag*/

.readmeTag {
  display: inline-block;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  outline: none;
  color: #2196fe;
  transition: all 0.25s ease-in;
}
.readmeTag:hover,
.readmeTag:focus,
.readmeTag:active {
  color: #536dfe;
}

.cards-slider.active-slide-0 #card-0 {

  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; 
}

.cards-slider.active-slide-0 #card-0 .details {
    opacity: 1;
}

.cards-slider.active-slide-1 #card-1 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; 
}

.cards-slider.active-slide-1 #card-1 .details {
  opacity: 1;
}

.cards-slider.active-slide-2 #card-2 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-2 #card-2 .details {
  opacity: 1;
}

.cards-slider.active-slide-3 #card-3 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-3 #card-3 .details {
  opacity: 1;
}

.cards-slider.active-slide-4 #card-4 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-4 #card-4 .details {
  opacity: 1;
}

.cards-slider.active-slide-5 #card-5 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-5 #card-5 .details {
  opacity: 1;
}

.cards-slider.active-slide-6 #card-6 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-6 #card-6 .details {
  opacity: 1;
}

.cards-slider.active-slide-7 #card-7 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-7 #card-7 .details {
  opacity: 1;
}

.cards-slider.active-slide-8 #card-8 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-8 #card-8 .details {
  opacity: 1;
}

.cards-slider.active-slide-9 #card-9 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-9 #card-9 .details {
  opacity: 1;
}

.cards-slider.active-slide-10 #card-10 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-10 #card-10 .details {
  opacity: 1;
}

.cards-slider.active-slide-11 #card-11 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-11 #card-11 .details {
  opacity: 1;
}

.cards-slider.active-slide-12 #card-12 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-12 #card-12 .details {
  opacity: 1;
}

.cards-slider.active-slide-13 #card-13 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-13 #card-13 .details {
  opacity: 1;
}

.cards-slider.active-slide-14 #card-14 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-14 #card-14 .details {
  opacity: 1;
}


.cards-slider.active-slide-15 #card-15 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-15 #card-15 .details {
  opacity: 1;
}

.cards-slider.active-slide-16 #card-16 {
opacity: 1;
transform: scale(1);
background-color: #f3f3f3;
border-color: #f3f3f3; 
}

.cards-slider.active-slide-16 #card-16 .details {
  opacity: 1;
}

.cards-slider.active-slide-17 #card-17 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; 
  }
  
.cards-slider.active-slide-17 #card-17 .details {
    opacity: 1;
  }
  
.cards-slider.active-slide-18 #card-18 {
  opacity: 1;
  transform: scale(1);
  background-color: #f3f3f3;
  border-color: #f3f3f3; 
  }
  
.cards-slider.active-slide-18 #card-18 .details {
    opacity: 1;
  }

.cards-slider.active-slide-19 #card-19 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
    
.cards-slider.active-slide-19 #card-19 .details {
      opacity: 1;
  }
    
.cards-slider.active-slide-20 #card-20 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
    
.cards-slider.active-slide-20 #card-20 .details {
      opacity: 1;
  }

.cards-slider.active-slide-21 #card-21 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
    
.cards-slider.active-slide-21 #card-21 .details {
      opacity: 1;
  }
  .cards-slider.active-slide-22 #card-22 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
    
.cards-slider.active-slide-22 #card-22 .details {
      opacity: 1;
  }

  .cards-slider.active-slide-23 #card-23 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
    
.cards-slider.active-slide-23 #card-23 .details {
      opacity: 1;
  }

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto; 
}

/* Old card desing, Do not remove yet!!
.card {
  min-width: 20vw;
  max-width: 60vh;
  min-height: 20vh;

  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border: 1px solid black;
  transition: .6s ease;

  background: white;
  text-align: center;
  
  display: block;
  margin: 0 auto;

}

.card img {
    width: 100%;
    height: auto; 
  
  }
.card .picture {
  border-radius: 4px 4px 0 0;
  margin-bottom: 2vh;
}

.title h1 {
  font-size: 2.6rem;
  color: #303336;
  letter-spacing: 1px;
  margin: 2vh 4vw;
  font-family: "Playfair Display", serif;
}

.card .topSpace {
  width: 20%;
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0;
  border-bottom: 1px solid #E6E9EC;
}

.card .bottomSpace {
  height: 4vh;
}


.cards-slider-wrapper {
    position: absolute;
    object-fit: contain;
    display: flex;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  }
  .cards-slider-wrapper .card {
    opacity: 0.7;
    transform: scale(0.8);
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
  }
  
  .cards-slider-wrapper .card .details {
    opacity: 0;
    transition: opacity 150ms linear; 
  }
  
  .cards-slider.active-slide-0 #card-0 {

    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
  
  .cards-slider.active-slide-0 #card-0 .details {
      opacity: 1;
  }
  
  .cards-slider.active-slide-1 #card-1 {
    opacity: 1;
    transform: scale(1);
    background-color: #f3f3f3;
    border-color: #f3f3f3; 
  }
  
  .cards-slider {
    position: relative;
    max-width: 226px;
    margin: 0 auto; 
  }
  */