* {
  box-sizing: border-box;
}

.layout {
  font-family: sans-serif;
  min-height: 800px;
  padding: 0 6px;
  background-image: linear-gradient(-45deg, #EEF0F3 0%, #F6F5F3 100%);  padding-top: 10px;
  text-align: center;

  overflow: hidden;
  padding: 8px;
  border: 2px solid #999;
  box-shadow: 0 0 4px #000;
  margin: 0 auto;
  border-radius: 5px;

