* {
    padding: 0px;
    margin: 0px;
  }
  
  .layout {
    overflow: hidden;

    height: 600px;

    background-color: #999;
    padding: 1.5em 10%;

    box-sizing: border-box;
    border: 2px solid #999;
    border-radius: 5px;
  }
  
