.HomePage__HeroPhoto {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100vmin;
  background: linear-gradient(135deg, #030303e5 0%, #ff7b0091 100%),
    url("./../../../Images/weelchair.jpg") center center/3000px 2000px no-repeat;
  background-size: cover;
  padding: 5em 10%;
  display: flex;
}
.HomePage__HeroPhoto__Title {
  flex: 1;
  color: rgba(255, 255, 255, 0.938);
  font-size: 3em;
  font-weight: 600;
  font-family: "Helvetica Neue";

  text-align: justify;

  margin-left: auto;
  margin-right: auto;
}
.HomePage__HeroPhoto__Subtitle {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: rgba(255, 255, 255, 0.884);
    font-family: "Helvetica Neue";

  text-align: justify;

  margin-left: auto;
  margin-right: auto;
}

.HomePage__HeroPhoto__Subtitle_text {
  padding: 1em;
  border-top: solid 5px rgba(255, 255, 255, 0.884);
  border-bottom: solid 5px rgba(255, 255, 255, 0.884);
  font-family: "Helvetica Neue";

  text-align: justify;

  margin-left: auto;
  margin-right: auto;
}



.HomePage__HeroPhoto__Button {
  position: absolute;
  font-size: 0.95em !important;
  width: 25%;
  max-width: 200px;
  padding: 1em 2em;
  background: linear-gradient(-45deg, gold, yellow);
  border: 0;
  border-radius: 50px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  transition: all linear 0.1s;
  box-shadow: 0 0 15px 2px rgba(255, 217, 0, 0.336);

  font-family: "Helvetica Neue";

}

.HomePage__HeroPhoto__Button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 7px 20px 2px rgba(255, 217, 0, 0.397);
  background: linear-gradient(to top, rgb(212, 181, 3), yellow);
}

.HomePage__HeroPhoto__Arrow {
  width: 50px;
  height: 50px;
  border: solid gold;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.Button__Icon__Start {
  height: 1em;
  display: inline-block;
  position: absolute;
  right: 0px;
}

@media only screen and (max-width: 700px) {
  .HomePage__HeroPhoto {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .HomePage__HeroPhoto__Title {
    flex: 1;
  }
  .HomePage__HeroPhoto__Subtitle {
    flex: 1;
  }
  .HomePage__HeroPhoto--Button__Download {
    flex: 1;
  }
  .HomePage__HeroPhoto--Button__Arrow {
    flex: 1;
  }
}
