.Footer {
  width: 100%;
  padding: 1em;
  background-color: #0f0f0f;
  color: #f15a24;
}

.Footer .contacts {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.Footer .contacts img {
  width: 15%;
  height: auto;
  margin-left: 1em;
  background-color: #f15a24;
  border-radius: 50%;
  padding: 0;
  /* color: rgba(240, 248, 255, 0.74); */
  transition: all 0.45s linear;
}

/* .Footer .contacts a {
  width: 10%;
  height:auto;
  text-align: bottom;
} */

.Footer .contacts :hover {
  transform: scale(1.05);
  color: rgba(240, 248, 255, 0.938);
}

.Footer .bottom {
  display: flex;
  width: 80%;
  justify-content: start;
  align-items: center;
}

.Footer .alivelogo {
  flex: 1;
}

.Footer .alivelogo img {
  width: 100%;
}

.Footer .copyright {
  width: 100%;
  text-align: center;
  flex: 4;
  margin-left: 1em;
}


@media only screen and (max-width: 600px) and (min-width: 400px) {
  /* flex-direction: column; */
}
