.Footer {
  width: 100%;
  padding: 1em;
  background-color: #0f0f0f;
  color: #f15a24;
}

.Footer .contacts {
  width: 40%;
  height: auto;
  margin: 0 auto;
}

.Footer .contacts img {
  width: 15%;
  height: auto;
  margin-left: 1em;
  background-color: #f15a24;
  border-radius: 50%;
}

.Footer .bottom {
  display: flex;
  width: 80%;
  justify-content: start;
  align-items: center;
}

.Footer .alivelogo {
  flex: 1;
}

.Footer .alivelogo img {
  width: 100%;
}

.Footer .copyright {
  width: 100%;
  text-align: center;
  flex: 4;
  margin-left: 1em;
}

.Footer .fa-facebook {
  background-color: #0f0f0f;
}