.container {
    display: flex;
  }

.container img {
  flex: 1;
  width: 600px
}

.container h1 {
  flex: 1;
  flex-direction: row;
  font-size: 2em;
}
  
.twitter-timeline {
    flex: 1;
    flex-direction: row;
  }

@media only screen and (max-width: 800px) {
    .container {
      display: block;
      flex-direction: row;
    }
  }