.RouteChecker {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #e9e9e8;
  padding: 2em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.RouteChecker__Title {
  margin-top: 120px;
  padding: 30px;
  color: (0, 0, 0, 0.8);
  margin-bottom: 1em;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
.RouteChecker__Inputs__Container {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.RouteChecker__Input {
  box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.05);
  font-size: 0.8em;
  text-align: center;
  width: 100%;
  flex: 1;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 2em;
}
.RouteChecker__Input:first-child {
  margin-right: 3em;
}

.RouteChecker__CheckBoxes__Container {
  margin-bottom: 1em;
}

.RouteChecker__CheckBoxes__item {
  color: (0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.RouteChecker__CheckBoxes__item--checkbox {
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 1em;
}

.RouteChecker__CheckBoxes__item--checkbox:first-child {
  margin-bottom: 0.5em;
}

.RouteChecker__Button {
  border: 0;
  display: block;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.699) !important;
  border-radius: 50px;
  padding: 0.5em 2em;
  background: linear-gradient(135deg, yellow, #f15a24);
  box-shadow: 0 10px 10px 2px rgba(255, 255, 0, 0.342);
  color: rgb(255, 255, 255);
  font-weight: bold;
  transition: all 0.1s linear;
}

/* .RouteChecker__Button:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 10px 16px 4px rgba(255, 255, 0, 0.568);
}

@media only screen and (max-width: 700px) {
  .RouteChecker__Inputs__Container {
    flex-direction: column;
    width: 80%;
  }
  .RouteChecker__Button {
    font-size: 1.2em;
    padding: 1em 3em;
  }
}
*/