.MeetTheTeam {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2em 10%;
  background-color: rgba(255, 68, 0, 0.884);
  color: white;
  background-image: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.3)
  );
}
.MeetTheTeam__Tittle h2 {
  font-size: 2em;
}

.MeetTheTeam__Flex__Container {
  display: flex;
  width: 100%;
  height: auto;
}

.MeetTheTeam__Description {
  flex: 1;
  display: block;
  margin-right: 2em;
  color: rgba(255, 255, 255, 0.74);
}
.MeetTheTeam__Photos {
  flex: 3;
  display: grid;
  padding: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  
}
