.NavBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(15, 15, 15);
  font-size: 1rem;
  color: wheat;
}
.NavBar__Logo {
  position: fixed;
  left: 1em;
  height: 2em;
}
.NavBar__Menu {
  flex: 0.5;
  width: 50%;
  height: 100%;
}

.NavBar__Menu a {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  height: 100%;
  flex: 1;
  text-decoration: none;
  color: rgba(255, 217, 0, 0.842);
}

.NavBar__Menu_Item {
  box-sizing: border-box;
  padding: 0.5em 0;
  display: inline-block;
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  transition: all ease-in 0.3s;
}

.NavBar__Menu_Item:hover {
  color: gold;
  background-color: rgb(24, 24, 24);
  border-bottom: solid 3px gold;
  padding: calc(0.5em - 3px) 0;
}

.NavBar__Menu_Item a:hover {
  color: gold;
}
