.Why {
  box-sizing: border-box;
  width: 100%;
  height: 100vmin;
  padding: 3em 10%;
  background-color: #f5f5f5;
}
.Why__Tittle {
  width: 100%;
  font-size: 2em;
  font-family: "Helvetica Neue";

  text-align: justify;

  margin-left: auto;
  margin-right: auto;
}
.Why__Container__Flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.Why__Description {
  flex: 1;
  margin-right: 2em;
}

.Why__Description__text p {
  border-left: solid 5px rgba(0, 0, 0, 0.5);
  font-size: 0.8em;
  padding-left: 1em;
  margin-left: 1em;

  font-family: "Helvetica Neue";

  text-align: justify;

  margin-left: auto;
  margin-right: auto;

}

.Why__Photo {
  flex: 1;
  height: auto;
  max-height: 300px;
  object-fit: cover;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.Why__Icon{
  height: 2.5em;
}

@media only screen and (max-width: 1000px) {
  .Why {
    pad: 1em 1em;
    height: auto;
  }
  .Why__Container__Flex {
    flex-direction: column;
  }
  .Why__Photo {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
  }
  .Why__Tittle {
    margin-bottom: 1em;
  }
}
