.NavBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: flex-end;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(15, 15, 15);
  font-size: 1rem;
  color: wheat;
}
.NavBar__Logo {
  position: fixed;
  left: 1em;
  height: 2em;
}
.NavBar__Menu {
  flex: 0.5;
  width: 50%;
  height: 100%;
}

.NavBar__Menu a {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1;
  align-self: flex-end;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(255, 217, 0, 0.842);
}

.NavBar__Menu_Item {
  box-sizing: border-box;
  padding: 0.5em 0;
  display: inline-block;
  font-size: 0.9em;
  /* width: 20%; */
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: all ease-in 0.3s;
}

.NavBar__Menu_Item:hover {
  color: gold;
  background-color: rgb(24, 24, 24);
  border-bottom: solid 3px gold;
  padding: calc(0.5em - 3px) 0;
}

.NavBar__Menu_Item a:hover {
  color: gold;
}


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  .NavBar{ 
    justify-content: center;
    display: flex;
  } 
  .NavBar__Menu_Item {
    font-size: 0.5em;
    justify-content: flex-end;
  }
} */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .NavBar{ 
    justify-content: center;
    display: flex;
  }
  .NavBar__Menu_Item {
    font-size: 0.6em;
    justify-content: flex-end;
  }
}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .NavBar{ 
    justify-content: center;
    display: flex;
  }
  .NavBar__Menu_Item {
    font-size: 0.7em;
    justify-content: flex-end;
  }
}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .NavBar{ 
    justify-content: center;
    display: flex;
  }
  .NavBar__Menu_Item {
    font-size: 0.8em;
    justify-content: flex-end;
  }
}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .NavBar{ 
    justify-content: center;
    display: flex;
  }
  .NavBar__Menu_Item {
    font-size: 0.9em;
    justify-content: flex-end;
  }
} */