.KeepCalm {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  height: auto;
  padding: 1em 1em;
  /*background-color: #ffffff;*/
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.KeepCalm__Title {
  flex: 1;
  width: 100%;
  font-size: 2em !important;
  display: flex;
  align-items: center;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.KeepCalm__Title h2 {
  flex: 1;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
  text-align: center;

  font-family: "Helvetica Neue";

}

.Button__Download {
  
  flex: 0.5;
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 10px;

}

.KeepCalm__text--underline {
  font-size: 1em;
  font-family: "Helvetica Neue";

  
}

.KeepCalm__Container__Flex {
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.KeepCalm__Description {
  flex: 1;
  margin-right: 2em;
  
}

.KeepCalm__Description__text {
  font-size: 0.8em;
  padding-left: 2em;
  margin-left: 1em;
  font-family: "Helvetica Neue";

  text-align: justify;

  margin-left: auto;
  margin-right: auto;

}

.KeepCalm__Photo {
  flex: 1;
  max-width: 500px;
  width: 100%;
  height: auto;
  max-height: 300px;
  /* object-fit: cover; */
  margin-bottom: 2em;
}

.a__button__apk {
  width: 50%;
  height: auto;
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .KeepCalm {
    flex-direction: column;
  }
  .a__button__apk {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .KeepCalm__Container__Flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .KeepCalm__Photo {
    display: block;
    width: 100%;
    object-fit: scale-down;
    height: auto;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 900px) {
  .KeepCalm {
    flex-direction: column;
  }
  .a__button__apk {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .KeepCalm__Container__Flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .KeepCalm__Photo {
    display: block;
    width: 100%;
    object-fit: scale-down;
    height: auto;
    margin-bottom: 2em;
  }
}
